<div class="new-page"></div>
<div class="bg_img">
  <div style="padding: 7.3cm 0.8cm 0cm 1cm;">
    <table>
      <tr>
        <td>{{ cell0 }}</td><td>{{ cell1 }}</td><td>{{ cell2 }}</td><td>{{ cell3 }}</td><td>{{ cell4 }}</td>
      </tr>
      <tr>
        <td>{{ cell5 }}</td><td>{{ cell6 }}</td><td>{{ cell7 }}</td><td>{{ cell8 }}</td><td>{{ cell9 }}</td>
      </tr>
      <tr>
        <td>{{ cell10 }}</td><td>{{ cell11 }}</td><td>{{ cell12 }}</td><td>{{ cell13 }}</td><td>{{ cell14 }}</td>
      </tr>
      <tr>
        <td>{{ cell15 }}</td><td>{{ cell16 }}</td><td>{{ cell17 }}</td><td>{{ cell18 }}</td><td>{{ cell19 }}</td>
      </tr>
      <tr>
        <td>{{ cell20 }}</td><td>{{ cell21 }}</td><td>{{ cell22 }}</td><td>{{ cell23 }}</td><td>{{ cell24 }}</td>
      </tr>
    </table>
  </div>
</div>